<% provide :page_title, t("navbar.rules") %>
<% currently_at t("navbar.rules") %>

<article class="article">
  <h2 class='mt-4 mb-2'><span><%= t('page.roles.title') %></span></h2>
  <div class="clr"></div>
  <p><%= t('page.roles.paragrapg') %></p>
</article>
