<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-8">
		<%= simple_form_for comment, method: method, url: url do |f| %>
			<%= f.input :body %><br />
			<%= f.button :submit, submit, class: "btn btn-light" %>			
		<% end %>
	</div>
</div>
