<%= turbo_frame_tag dom_id(@comment) do %>
  <h4 class='mt-4 mb-2'><% i18n_model_name(@comment) %></h4>
  <%= render partial: "comments/form", locals: { model: @comment, method: :put,
    path: commentable_path(@comment) } %>  
<% end %>