<%= turbo_frame_tag dom_id(@hobby) do %>
  <h3  class='mt-4 mb-2'><%= t('page.new', model: i18n_model_name(@hobby).downcase) %></h3>
  
  <%= render partial: 'shared/go_back_button', locals: { path: group_path(@group) } %>
  <%= render partial: 'hobbies/form',  locals: { model: [@group, @hobby], method: :post } %>
<% end %>
