<section>
  <p><%= t('page.group.not_any_group') %></p>

  <%= link_to t('link.add_new', model: i18n_model_name(Group.new)), 
      new_account_group_path(@account), class: "btn btn-outline-dark btn-sm" %>
</section>