<section>
  <% provide :page_title, t('page.new', model: i18n_model_name(@group).downcase) %>
  <% currently_at %>

  <h2 class='mt-4 mb-2'><%= t('page.new', model: i18n_model_name(@group).downcase) %></h2>
  <%= render partial: 'shared/go_back_button', locals: { path: account_groups_path(@account) } %>

  <%= render partial: 'form',  locals: { model: [@account, @group], method: :post } %>
</section>