<footer class="footer_resize">
  <p class="lf">&copy;<%= t('page.site_name') %></p>
    <p class="rf">
      <%= link_to sanitize(t('page.telegram')), 'https://t.me/elenkasu', target: :_blank %>
    </p>        
  <div style="clear:both;"></div>
</footer>
 