<section>
  <%= turbo_frame_tag dom_id(@interest) do %>
    <%= render partial: 'shared/go_back_button', locals: { path: account_path(@account) } %>
    <h3 class='md-4'><%= t('page.new', model: i18n_model_name(@interest).downcase) %></h3>

    <%= render partial: 'form',  locals: { model: [@account, @interest], method: :post, 
      submit: t('submit.create', model: i18n_model_name(@interest).downcase) } %>
  <% end %>
</section>