<section class='post'>
  <%= turbo_frame_tag dom_id(@post) do %>
    <h4 class='md-4'><%= t('page.edit', model: i18n_model_name(@post)) %></h4>
    <%= render partial: 'posts/form', locals: { model: [@account, @post], method: :put, 
      submit: t('submit.edit', model: i18n_model_name(@post).downcase), place: @post.place, path: account_path(@account) } %>
  <% end %>
</section>