  <% provide :page_title, t('page.edit', model: i18n_model_name(@post)) %>
  <% currently_at %>

<article class='article'> 
  <h2 class='mt-4 mb-2'><%= t('page.edit', model: i18n_model_name(@post)) %></h2>
  <%= render partial: 'form', locals: { model: @post, method: :put, path: post_path(@post) } %>
</article>