<% provide :page_title, i18n_model_name(Post.new, count: 2) %>
<% currently_at t("page.site_name") %>

<article class='article'>
  <%= link_to t('link.add_new', model: i18n_model_name(Post.new).downcase), new_post_path, 
    class: "btn btn-outline-dark btn-sm my-4" if current_user && current_user.account %>

  <% if @posts.try(:any?) %>
    <%= render @posts %>
    <div class='my-2'>
      <%== pagination(@pagy_post) %>
    </div>
  <% else %>
    <p><%= t('page.post.blank') %></p>
  <% end %>
</artcile>