<section class='post'>
  <h1 class='md-4'><%= i18n_model_name(@posts, count: 2) %></h1>
  <%= link_to t('link.add_new', model: i18n_model_name(Post.new).downcase), new_account_post_path(@account), 
    class: "btn btn-outline-dark my-4" if current_user && current_user.account %>

  <% if @posts.try(:any?) %>
    <%= render partial: "posts/post", collection: @posts %>
  <% else %>
    <p><%= t('page.account.index') %></p>
  <% end %>
</section>
