<% provide :page_title, t('page.new', model: i18n_model_name(@post).downcase) %>
<% currently_at %>

<article class="article">
  <h2 class='mt-4 mb-2'><%= t('page.new', model: i18n_model_name(@post).downcase) %></h2>
  
  <%= render partial: 'shared/go_back_button', locals: { path: posts_path } %>
  <%= render partial: 'form',  locals: { model: @post, method: :post } %>
</article>