<h3><%= t('page.new', model: i18n_model_name(@post).downcase) %></h3>

<%= render partial: 'form',  locals: { post: @post, method: :post, 
  url: account_posts_path(@account), submit: t('submit.create', model: i18n_model_name(@post).downcase), place: 'content' } %>
  