// navbar 
.navbar {
  background-color: slateblue;

  .nav-link {
    background-color: slateblue;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
  }

  .wheat {
    color: wheat;
  }
  .black {
    color: black;
  }

  .nav-link:hover{
    color: slateblue;
    background-color: wheat;
  }

  .navbar-brand {
    font-size: 24px;
    border-radius: 5px;
  }

  .navbar-brand:hover {
    color: slateblue;
    background-color: wheat;
  }

  .dropdown-item {
    font-size: 16px;
  }
}

.card {
  border-color: slateblue;

  .card-title {
    font-size: 20px;
  }

  .card-title:hover {
    color: slateblue;
  }

  .slateblue {
    color: slateblue;
  }
  .black {
    color: black;
  }

  // line to split section right navbar
  .line {
    border-bottom: 1px solid slateblue;
  }
}

// show account view
.show_account {
  .card {
    width: 450px;
    text-align: center;
    margin-top: 20px;

   .card-subtitle {
      border-right: 1px solid slateblue;
      font-weight: bold;
    }
  }
}

// set footer
* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
  font-family: 'Monaco', monospace;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
// set footer end 

// posts
.post {
  .line {
    border-bottom: 2px dashed slateblue;
    margin: 20px;
  }
}
.link {
  text-decoration: none;
  color:black;
}

.link:hover {
  color: slateblue;
}

// style data post
.style-date { 
  font-size: 75%; 
  color: #999
}

// styles for messages
.card.sender {
  background: #bce6ec;
  border-radius: 20px;
  font-size: 80%;
  margin-left: 55%;
  hyphens: auto;
  text-align: right;  
  border-style: none;

  span  {
    color: #999;
    
    a {
      color: #999;
    }
    a:hover {
      color: slateblue;
    }
  }
}

.card.recipient {
  background: #90dfc5;
  border-radius: 20px;
  font-size: 80%;
  margin-right: 55%;
  hyphens: auto;
  text-align: left;
  border-style: none;

  span {
    color: #999;
    
    a {
      color: #999;
    }
    a:hover {
      color: slateblue;
    }
  }
}
