<article class='article'>
  <p><%= t('page.content.blank') %></p>
  <%= turbo_frame_tag dom_id(Content.new) do %>
    <%= link_to t('link.add_new_plural', model: attribute_model(Content.new, :body).downcase), 
        new_group_content_path(@group), class: "btn btn-outline-dark btn-sm mb-4" %>
  <% end %>
</article>