  <%= turbo_frame_tag dom_id(@post) do %>
    <%= link_to t('link.add_new', model: i18n_model_name(@post).downcase), new_account_post_path(@account), 
      class: "btn btn-outline-dark my-3"  if current_user == @account.user %>
  <% end %>
  <% if @posts.try(:any?) %>
    <section class='post'>
      <h3 class='my-4'><%= i18n_model_name(@posts, count: 2) %></h3> 
      <%= render partial: "posts/post",  collection:  @posts %>
    </section>
  <% end %>